@import url("https://fonts.googleapis.com/css?family=Inter");

* {
  box-sizing: border-box;
}

body {
  background: rgba(0, 0, 0, 1);
  font-family: "Inter", sans-serif;
}

h1 {
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

.countdown-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.countdown-item {
  color: #fff;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 30px;
  margin: 10px;
  padding-top: 10px;
  position: relative;
  width: 100px;
  height: 100px;
}

.countdown-item span {
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.countdown-svg {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}
